<p id="notice"><%= notice %></p>

<br><h1>Casting Form Submissions</h1><br>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Union</th>
      <th>Avatar</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><a href="/project?project=<%= form.project %>"><%= form.project %></a> </td>
        <td><%= form.first_name %></td>
        <td><%= form.last_name %></td>
        <td><%= form.email %></td>
        <td><%= form.phone %></td>
        <td><%= form.union %></td>
        <td><%= image_tag form.image.url(:thumb) %></td>
      
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br>
<%= link_to 'New Form', new_form_path %><br><br><br><br><br><br>
