<p id="notice"><%= notice %></p>

<br><br><br><br><br><br>
<div id="showbox">
<p>
  <strong>Project:</strong>
  <%= @form.project %>
</p>

<p>
  <strong>First name:</strong>
  <%= @form.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @form.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @form.phone %>
</p>

<p>
  <strong>Union:</strong>
  <%= @form.union %>
</p>
</div>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
